:root {
	--font-family-main: arial, sans-serif;
	--font-size-m: 24px;
	--font-line-m: 24px;
	--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

	--font-size-s: 16px;
	--font-line-s: 16px;
	--font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

	@media screen and (max-width: 600px) {
		--font-size-m: 14px;
		--font-line-m: 14px;
		--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

		--font-size-s: 12px;
		--font-line-s: 12px;
		--font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
	}

	--header-height: 80px;

	--background-color: #222222;
	--primary-color: #fff;
	--secondary-color: #aaaaaa;
	--header-bg-color: rgba(34, 34, 34, 0.9);
	--hover-transition: 0.2s ease-in-out;
}
